@model TaskVlopper.Models.WorklogViewModel

<h5>Model editor</h5>

@Html.ValidationSummary(true)

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(p => p.Worklog.TaskID, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(p => p.Worklog.TaskID, new { @class = "form-control", placeholder = "TaskID" })
            @Html.ValidationMessageFor(p => p.Worklog.TaskID)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Worklog.UserID, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.TextAreaFor(p => p.Worklog.UserID, new { @class = "form-control", placeholder = "UserID" })
            @Html.ValidationMessageFor(p => p.Worklog.UserID)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Worklog.Description, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(p => p.Worklog.Description, new { @class = "form-control", placeholder = "Description" })
            @Html.ValidationMessageFor(p => p.Worklog.Description)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Worklog.Date, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            <div class='input-group date hasDatepicker'>
                @Html.TextBoxFor(p => p.Worklog.Date, new { @class = "form-control", placeholder = "Date" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(p => p.Worklog.Date)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Worklog.Hours, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(p => p.Worklog.Hours, new { @class = "form-control", placeholder = "Hours", type = "number", min = "0" })
            @Html.ValidationMessageFor(p => p.Worklog.Hours)
        </div>
    </div>

    <div class="col-sm-8 col-sm-push-4">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</div>