@model TaskVlopper.Models.ProjectViewModel

@Html.ValidationSummary(true)

<div class="form-horizontal col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.TextBoxFor(p => p.Project.Name, new { @class = "form-control", placeholder = "Name" })
            @Html.ValidationMessageFor(p => p.Project.Name)
        </div>

        <div class="panel-footer">
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.TextAreaFor(p => p.Project.Description, new { @class = "form-control", placeholder = "Description" })
                    @Html.ValidationMessageFor(p => p.Project.Description)
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-6">
                    <div class='input-group date hasDatepicker'>
                        @Html.TextBoxFor(p => p.Project.StartDate, new { @class = "form-control", placeholder = "Start date", title = "Start date" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(p => p.Project.StartDate)
                </div>

                <div class="col-xs-6">
                    <div class='input-group date hasDatepicker'>
                        @Html.TextBoxFor(p => p.Project.Deadline, new { @class = "form-control", placeholder = "Due date", title = "Due date" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(p => p.Project.Deadline)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Project.EstimatedTimeInHours, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-9">
                    <div class="input-group">
                        @Html.TextBoxFor(p => p.Project.EstimatedTimeInHours, new
                   {
                       @class = "form-control",
                       placeholder = "Estimated hours",
                       type = "number",
                       min = "0"
                   })
                        <span class="input-group-addon">h</span>
                    </div>
                    @Html.ValidationMessageFor(p => p.Project.EstimatedTimeInHours)
                </div>
            </div>

            <div class="row">
                <div class="col-xs-8 col-xs-push-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button class="btn btn-danger" ng-click="showAddPanel=false" onclick="return false">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>