<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TaskVlopper</title>
    @Styles.Render("~/bundles/styles")
    @if (ViewBag.HasAngular != null && ViewBag.HasAngular == true)
    {
        @Styles.Render("~/bundles/pace")
    }
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /*
         Allow angular.js to be loaded in body, hiding cloaked elements until
         templates compile.  The !important is important given that there may be
         other selectors that are more specific or come later and might alter display.
        */
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="taskVlopperApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            @Html.Partial("_Navbar")
        </div>
    </div>

    <div class="container-fluid body-content">

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TaskVlopper</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @if (ViewBag.HasAngular != null && ViewBag.HasAngular == true)
    {
        @Scripts.Render("~/bundles/angular")
    }
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/Scripts/initializers.js")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
